<div class="container">
  <div class="row">
    <%= render 'layouts/user_info.html.erb',layouts: @layouts %>
    <div class="col-lg-8 offset-lg-1">
      <table class="table table-hover table-invers">
        <h2>Users</h2>
        <th>Image</th><th>name</th>
        <% @user.each do |user| %>
          <%#<span><%= @user.image % </span>%>
          <span><%= @user.name %></span>
          <%#showリンク%>
        <% end %>
      </table>
    </div>
  </div>
</div>