<%= render 'layouts/header.html.erb',layouts: @layouts %>
 <%= render 'layouts/user_info.html.erb',layouts: @layouts %>
 
 <%= render 'layouts/footer.html.erb',layouts: @layouts %>

<h1>右側に全ユーザー一覧
showリンクがありuser_showに飛ぶ</h1>