<div class="container">
  <div class="row">
    <%= render 'layouts/user_info.html.erb',layouts: @layouts %>
    <div class="col-md-8 offset-md-1">
     <h2>Books</h2>
     <table>
       <tr>
         <th>Title</th>
         <th>Opinion</th>
       </tr>
         <% @book.each do |book| %>
           <%= link_to book.title,book_path(book.id) %>
           <%= book.body %>
         <% end %>
     </table>
    </div>
  </div>
</div>
