 <%= render 'layouts/header.html.erb',layouts: @layouts %>
 <%= render 'layouts/user_info.html.erb',layouts: @layouts %>
 
 <%= render 'layouts/footer.html.erb',layouts: @layouts %>
 <h1>右側にそのユーザーが出したブック一覧、タイトルを押すと
 ブック詳細へ移動</h1>