<div>
  <p>Title</p>
  
  <%= f.text_field :title %>
  
  <p>Opinion</p>
  <%= f.text_area :body %>
  <%= f.submit "Update Book" %>
  <div>
    <a href="/book_show">Show</a>
    |
    <a href="/book_index">Back</a>
  </div>
</div>