<%= render 'layouts/header.html.erb',layouts: @layouts %>
 <%= render 'layouts/user_info.html.erb',layouts: @layouts %>
 
 <%= render 'layouts/footer.html.erb',layouts: @layouts %>
<p>詳細画面
左側にユーザー情報
右側にブック詳細
edit destroy</p>